@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter',sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root{
    height: 100vh;
    width: 100%;
}

.app{
    height: 100%;
    /* height: 100vh; */
    /* border: 2px solid green; */
}

.formContainer{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2b3137;
    background-image: url('https://github.githubassets.com/images/modules/site/heroes/simple-codelines.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.iconContainer{
    position: relative;
}

.icon{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
}

img{
    display: block;
   
}

h3{
    
}



input{
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}   